/* Add CSS Styling */
.btn{
    background-color: black;
    color: white;
    font-size: 28px;
    font-family:  Helvetica, Arial, sans-serif;
}

.btn-yellow{
    background-color: yellow;
    color: black;
}
.inverted .fancy {
  font-size: 5rem;
}